
<ul class="navbar-nav  my-2 my-lg-0">

    @if (Request.IsAuthenticated)
    {
        //kullanıcı adını ve logout linklerini çıkar
        <li class="nav-item active">
            <a class="btn btn-success btn-sm m-1" href="/Account">@User.Identity.Name</a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-danger btn-sm m-1" href="/Account/Logout">Çıkış Yap</a>
        </li>
    }
    else
    {
        //login ve register linkleri çıkar
        <li class="nav-item active">
            <a class="btn btn-primary btn-sm m-1" href="/Account/Login"><b>Giriş Yap</b></a>
        </li>
        <li class="nav-item active">
            <a class="btn btn-primary btn-sm m-1" href="/Account/Register"><b>Kayıt Ol</b></a>
        </li>
    }






</ul>